<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <span>Pick a Due Date</span>
        <input type="datetime-local" placeholder="Pick a due date" name='date'>
        <input type="text" placeholder="location?" name="map" >
        <input type="submit">
    </form>


    <table >
            <th>To Do</th><th>due date</th><th>due time</th><th>days remaining</th><th>hours remaining</th><th>done?</th>
            <tr>   <% todos.forEach( el => { %>
                <td class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span></td>
                <td><span> <%=  el.date.toDateString() %></span><span>, <%=  el.date.getHours() %></span></td>
                <td><span>: <%=  el.date.getMinutes() %></span></td>
                <td><span> <%= ((el.date - Date.now())/86400000).toFixed(0) %> days</span></td>
                <td><span> <%= ((el.date - Date.now())/3600000).toFixed(2) %> hours</span></td>
                <td data-id='<%=el._id%>'><span class='del'> Delete </span></td>
            </tr> 
            <% }) %> 
        </table>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <a href="/logout">Logout</a>
    <table >
        <th>Location</th>
        <tr><% todos.forEach( el => { %>
            <td  class="findIt" data-id='<%=el._id%>'><span class="findIt"> <%=  el.map %></span></td>
        </tr> 
        <% }) %> 
    </table>
 

    <div id='printoutPanel'></div>
    <div id="myMap"style='width: 400px; height: 400px;'></div>
    <div id='output' style="margin-left:10px;float:left;"></div>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
    <script src="js/main.js"></script>
</body>

</html>